<section class="login-section">
    <div class="login-div">
        <p>To view your account, please login below.</p>
        <form action="/login" method="POST">
            <div class="login-param">
                <label for="email"> E-mail:</label>
                <input  type="email" name="email" placeholder="Enter an email" required>
            </div>

                <div class="login-param">
                <label for="password">Password:</label>
                <input  type="password" name="password" placeholder="Enter Your Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</section>

