Congrats, you are now registered! You will be redirect to the login page.
or you can <a href="login">Click here</a> to be redirected.

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/login";
  }, 5000)
</script>