<form action="/sent" method="POST">
  <div>
    <label for="name">Name:</label>
    <input 
    name="name" 
    type="text" 
    required>
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input 
    name="email" 
    type="text" 
    required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input 
    name="password" 
    type="password"
    required>
  </div>

  <div>
    <label for="name">Confirm password:</label>
    <input 
    name="password2"
    type="password"
    required>
  </div>


  <button type="submit">Submit</button>

</form>